@model IEnumerable<mf_dev_backend_2025.Models.Consumo>

@{
    ViewData["Title"] = "Index";
}

<h1>Consumos</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoCombustivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.veiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoCombustivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.veiculo.Nome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
